<launch>
    <node pkg="depthimage_to_laserscan" type="depthimage_to_laserscan" name="depthimage_to_laserscan" >
        <param name="scan_height" value="240"/> 
        <param name="range_min" value="0.3"/> 
        <remap from="image" to="/camera/depth/image_rect_raw" />
         <remap from="camera_info" to="/camera/depth/camera_info" />
    </node> 
</launch>